body {
  margin: 0;
  height: 100%;
}

.kameron {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topbar {
  overflow: hidden;
  background-color: #D9D9D9;
  height: 4vh;
}

.dot {
  height: 60%;
  width: 1.3%;
  background-color: #AD97D1;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.6%;
  margin-top: 0.4%;
}

.dot1 {
  height: 60%;
  width: 1.3%;
  background-color: #82B488;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.dot2 {
  height: 60%;
  width: 1.3%;
  background-color: #FFF3B9;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.square {
  height: 60%;
  width: 45%;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 20%;
  margin-top: 0.4%;
}

.dropbtn {
  background: none;      
  border: none;         
  height: 100%;
  width: 100%;
  padding: 0;
  color: black;          
  font-size: 1em;
  padding-bottom: 4%;
  text-align: left; 
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 85vh;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 2vh;
  font-family: "Kameron", serif;
  color: #000000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #ddd;
}

.show {
  display:block;
}

.codepencfu {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 2%;
  padding-top: 4%;
}
