body {
  margin: 0;
  height: 100%;
}

.kameron {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topbar {
  overflow: hidden;
  background-color: #D9D9D9;
  height: 4vh;
}

.dot {
  height: 60%;
  width: 1.3%;
  background-color: #AD97D1;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.6%;
  margin-top: 0.4%;
}

.dot1 {
  height: 60%;
  width: 1.3%;
  background-color: #82B488;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.dot2 {
  height: 60%;
  width: 1.3%;
  background-color: #FFF3B9;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.square {
  height: 60%;
  width: 45%;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 20%;
  margin-top: 0.4%;
}




#photo {
  background-color: #ebebeb;
  width: 25%;
  height: 190px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  float:left;
  margin-left: 5%;
}


#resume {
  background-color: #ebebeb;
  width: 50%;
  height: 75vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  float:right;
  margin-right: 5%;
}

#resume{
  margin-top:5%;

}

#photo{
  margin-top:5%;
}

.wrapper { 
  height: 100%;
}

.box-container{
  background-color: rgb(117, 82, 82, 0.7);
  width: 100%;
  height: 100%;
  margin-top: 15px;
margin-left: 20px;
}


.dropbtn {
  background: none;      
  border: none;         
  height: 100%;
  width: 100%;
  padding: 0;
  color: black;          
  font-size: 1em;
  padding-bottom: 4%;
  text-align: left; 
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 85vh;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 2vh;
  font-family: "Kameron", serif;
  color: #000000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #ddd;
}

.show {display:block;}

.project-icons {
  height: 40vh;
  width: 43vh;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 5%;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-origin: center center; 
}

.project-icons:hover {
  transform: scale(1.2);
  z-index: 10; 
  box-shadow: 0px 7px 15px #303030;
}


.project-container{
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  gap: 3%;
}

.project-icons img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.project-icons:hover .text{
  transform: translateY(0)
}

.project-icons:hover{
  transform: scale(1.1);
  box-shadow: 0px 7px 10px #303030;

}
.project-icons .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(130, 180, 136, 1.0),
    rgba(173, 151, 209, 1.0)
  ); 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;           
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: zain;
}

.project-icons:hover .overlay {
  opacity: 1;
}

a{
  color:white;
}
