body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.kameron {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.topbar {
  overflow: hidden;
  background-color: #D9D9D9;
  height: 4vh;
}

.dot {
  height: 60%;
  width: 1.3%;
  background-color: #AD97D1;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.6%;
  margin-top: 0.4%;
}

.dot1 {
  height: 60%;
  width: 1.3%;
  background-color: #82B488;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.dot2 {
  height: 60%;
  width: 1.3%;
  background-color: #FFF3B9;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.7%;
  margin-top: 0.4%;
}

.square {
  height: 60%;
  width: 45%;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 20%;
  margin-top: 0.4%;
}

.search-bar {
  background-color: #ffffff;
  width: 50%;
  height: 5vh;
  margin-left: 25%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 2vh;
  font-family: "Kameron", serif;
  color: #000000;
}

#square1{ 
  opacity: 0; 
  height: 700%; 
  background-color: #ffffff; 
  width: 100%; 
  margin-right: 85%; 
  border-radius: 10px; 
  display: inline-block;
  margin-top: -5%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#square1:target {
  display: block;
  opacity: 1;
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #b0b0b0;
  text-decoration: underline;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}
